<div class='single'>
	<img src=<%= @item.src %> />
	<h1 class='uppercase'><%= @item.name %></h1>
	<h2>brand: <%= link_to("#{@item.brand.name}", @item.brand) %></h2>
	<h2>type: <%= link_to("#{@item.type.name}", @item.type) %></h2>
	<h2>color: <%= link_to("#{@item.color.name}", @item.color) %></h2>
	<div class='links'>
	<%= link_to("edit",edit_item_path(@item)) %> 
	<%= button_to("delete",item_path(@item), method: :delete) %>	
	</div>
</div>