<a href='/items'>Back</a>
	<img src=<%= @item.src %> />
	<h1 class='uppercase'><%= @item.name %></h1>
	<h2><%= link_to("#{@item.brand.name}", @item.brand) %></h2>
	<h2><%= link_to("#{@item.type.name}", @item.type) %></h2>
	<h2><%= link_to("#{@item.color.name}", @item.color) %></h2>