
	<img src=<%= @item.src %> />
	<h1 class='uppercase'><%= @item.name %></h1>
	<h2><%= @item.brand.name %></h2>
	<h2>$<%= @item.price %></h2>
	<h2>type: <%= @item.type.name %></h2>
	<h2>color: <%= @item.color.name %></h2>