<h1><%= @brand.name %></h1>
<%= button_to('delete',@brand, method: :delete) %>
<% @brand.items.each do |item| %>
<div class='item' >
	<a href=<%= "/items/#{item.id}" %>>
	<h3 class='uppercase'><%=item.name %></h3>
	<h4 class='uppercase'><%=item.type.name %></h4>
	</a>
</div>
<% end%>